.about {
  width: 100%;
}

.about-container {
  max-width: 1440px;
  justify-content: space-between;
  padding: 93px 109px 94px 109px;
  margin: 0 auto;
}

.about-header {
  max-width: 76.5%;
  margin-top: 10px;
}

.about-header-highlight {
  color: #E06733;
}

.about-body {
  line-height: 30px;
  padding-top: 38px;
}

.about-content {
  max-width: 50%;
  align-self: center;
}

.about-image {
  align-self: center;
  width: 38%;
}


@media screen and (max-width:768px) {
  .about-container {
    flex-direction: column;
    padding: 40px 50px 95px 50px;
  }

  .about-content {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .about-header {
    align-self: center;
    text-align: center;
    font-size: 35px;
    line-height: 46px;
    margin-top: 0px;
  }

  .about-body {
    padding-top: 50px;
  }

  .about-image {
    align-self: center;
    margin-top: 68px;
    width: 250px;
  }
}

@media screen and (max-width:380px) {
  .about-container {
    padding: 30px 25px 27px 25px;
  }

  .about-content {
    max-width: 100%;
    height: 100%;
  }

  .about-header {
    max-width: 100%;
    font-size: 25px;
    line-height: 33px;
  }

  .about-body {
    font-size: 15px;
    line-height: 25px;
    padding-top: 13px;
  }

  .about-image {
    margin-top: 0px;
    width: 150px;
  }
}