.header-container {
  justify-content: space-between;
  max-width: 1440px;
  margin: 0px auto;
  padding: 42px 109px 42px 111px;
  transition: 0.3s;
}

.logo>h3,
.logo>img {
  align-self: center;
}

.logo>img {
  margin-bottom: 10px;
}

.navbar-items {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: space-between;
  column-gap: 47px;
}

.navbar-burger-icon .line {
  width: 100%;
  height: 2px;
  background-color: #717171;
  transition: 0.3s;
}

.navbar-burger-item {
  display: none;
}

@media screen and (max-width: 768px) {
  .header-container {
    padding: 35px 50px;
  }
}

@media screen and (max-width: 650px) {
  .header-container {
    flex-wrap: wrap;
  }

  .navbar {
    width: 100%;
  }

  .navbar-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-out;
  }

  .navbar-burger-item {
    display: block;
  }

  .navbar-burger-icon {
    width: 40px;
    height: 26px;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar.burgerView .navbar-item {
    display: block;
  }

  .burgerView .navbar-items {
    max-height: 100vh;
    transition: all 2s ease-in-out;
  }

  .burgerView .line:nth-child(1),
  .burgerView .line:nth-child(4) {
    height: 0px;
  }

  .burgerView .line:nth-child(2) {
    transform: rotateZ(40deg) scaleX(0.95) translate(5px, 5px);
    transition: 0.7s;
  }

  .burgerView .line:nth-child(3) {
    transform: rotateZ(-40deg) scaleX(0.95) translate(2px, -1px);
    transition: 0.7s;
  }

}

@media screen and (max-width: 380px) {
  .header-container {
    padding: 34px 25px;
  }
}