h2 {
  font-size: 25px;
  line-height: 33px;
}

/*********************************************** header **********************************************/
.header-navbar {
  padding: 36px 25px;
}


/************************************************* welcome *************************************************/
.welcome {
  padding: 24px 25px;
}

.welcome .text-content {
  max-width: 100%;
}

.welcome>img {
  display: none;
}

.welcome p {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 25px;
}

.welcome h1 {
  font-size: 25px;
  line-height: 35px;
}

.welcome .button {
  width: 100px;
  height: 34.14px;
  font-size: 10px;
}

/************************************************* about *************************************************/
.about {
  padding: 30px 25px;
}

.about .text-content {
  max-width: 100%;
  height: 100%;

}

.about h2 {
  max-width: 100%;
  font-size: 25px;
  line-height: 33px;
}

.about p {
  font-size: 15px;
  line-height: 25px;
  padding-top: 20px;
  padding-bottom: 0px;
}

/************************************************* service *************************************************/
.service-header h2 {
  flex-basis: 187px;
  margin-right: 0px;
}

.buttons-container {
  max-width: 252px;
}

.button {
  width: 121px;
  height: 35px;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 9px;
}

.cards-container {
  grid-template-columns: 1fr;
}

/************************************************* prices *************************************************/

.prices {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 25px 76px 40px 76px;
}

.price-item p {
  font-size: 15px;
}


.call-us h2 {
  font-size: 20px;
}

.prices>h2 {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 40px;
}

.price-items {
  padding: 29px 22px;
  align-self: stretch;
}

.price-item {
  padding: 16px 15px 16px 30px;
  justify-content: space-between;

}


.call-us {
  align-items: center;
}

.call-us h2 {
  text-align: center;
  margin-top: 19px;
}

.call-us button {
  width: 121px;
  height: 35px;
  margin-top: 14px;
  margin-bottom: 0px;
}

.call-us img {
  display: none;
}