h2 {
  font-size: 35px;
  line-height: 46px;
}

/************************************************* welcome *************************************************/
.welcome {
  padding: 40px 50px 70px 50px;
}

.welcome .welcome-content {
  max-width: 52%;
}

.welcome>.welcome-image {
  max-width: 42%;
  max-height: 254px;
  order: 1;
}

.welcome .welcome-body {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 25px;
}

.welcome .welcome-header {
  font-size: 35px;
  text-shadow: none;
}

/************************************************* about *************************************************/
.about {
  flex-direction: column;
  padding: 40px 50px 95px 50px;
}

.about .about-content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.about .about-header {
  align-self: center;
  font-size: 35px;
  line-height: 46px;
  text-align: center;
}

.about .about-body {
  padding-top: 50px;
}

.about .about-image {
  align-self: center;
  margin-top: 65px;
}

/************************************************* service *************************************************/
.service {
  padding: 60px 50px 70px 50px;
}

.service .service-header-container .service-header {
  flex-basis: 306px;
  margin-right: 0px;
}

.service .service-buttons {
  margin-top: 35px;
  max-width: 559px;
  width: 100%;
}

.service .service-cards-container {
  grid-template-columns: repeat(2, minmax(calc(100% / 3), 280px));
  column-gap: 15px;
  row-gap: 38px;
}

.service .service-card>.service-card-texts {
  padding-left: 39px;
  padding-right: 39px;
}

/************************************************* prices *************************************************/

.prices {
  grid-template-columns: minmax(150px, 332px) minmax(150px, 296px);
  padding: 40px 50px 88px 50px;
}

.prices>.prices-header {
  grid-column: 1 / 3;
  width: 135px;
  text-align: center;
  font-size: 35px;
  line-height: 42px;
  margin-bottom: 57px;
}

.prices .prices-call-us {
  grid-row: 2 / 3;
}

.prices .prices-call-us .prices-call-us-header {
  font-size: 25px;
  line-height: 35px;
}

.prices .prices-call-us .prices-call-us-button {
  margin-top: 28px;
  margin-bottom: 33px;
}

/************************************************* contacts *************************************************/

.contacts {
  padding: 40px 159px 0px 159px;
  flex-direction: column;
  align-items: center;
}

.contacts .contacts-header {
  font-size: 40px;
  font-weight: 700;
  margin-top: 0px;
  margin-left: 0px;
}

.contacts .contacts-container {
  margin-top: 100px;
}

.contacts-container-wrapper {
  width: 100%;
  min-height: 325px;
  margin-bottom: 75px;
}

.contacts .contacts-woman {
  order: 1;
  margin-left: 20px;
  width: 200px;
  height: 248.49px;
}

/************************************************* footer *************************************************/

footer {
  padding: 33px 109px;
  flex-direction: column;
  align-items: center;
}

.footer-data>* {
  line-height: 24px;
}

.footer-rsschool {
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.social-links {
  width: 188px;
  justify-content: space-between;
}

.social-links img {
  width: 32px;
  height: 32px;
}