h2 {
  font-size: 35px;
  line-height: 46px;
}

/************************************************* footer *************************************************/

footer {
  padding: 33px 109px;
  flex-direction: column;
  align-items: center;
}

.footer-data>* {
  line-height: 24px;
}

.footer-rsschool {
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.social-links {
  width: 188px;
  justify-content: space-between;
}

.social-links img {
  width: 32px;
  height: 32px;
}