h2 {
  font-size: 25px;
  line-height: 33px;
}

/*********************************************** header **********************************************/
.header-navbar {
  padding: 36px 25px;
}


/************************************************* welcome *************************************************/
.welcome {
  padding: 24px 25px;
}

.welcome>.welcome-content {
  max-width: 100%;
}

.welcome>.welcome-image {
  display: none;
}

.welcome .welcome-body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 25px;
}

.welcome .welcome-header {
  font-size: 25px;
  line-height: 35px;
}

.welcome .welcome-button {
  width: 100px;
  height: 34.14px;
  font-size: 10px;
}

/************************************************* about *************************************************/
.about {
  padding: 30px 25px;
}

.about .about-content {
  max-width: 100%;
  height: 100%;

}

.about .about-header {
  max-width: 100%;
  font-size: 25px;
  line-height: 33px;
}

.about .about-body {
  font-size: 15px;
  line-height: 25px;
  padding-top: 20px;
  padding-bottom: 0px;
}

/************************************************* service *************************************************/
.service .service-header-container .service-header {
  flex-basis: 187px;
  margin-right: 0px;
}

.service .service-buttons {
  max-width: 252px;
}

.service .service-buttons>.service-button {
  width: 121px;
  height: 35px;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 9px;
}

.service .service-cards-container {
  grid-template-columns: 1fr;
}

/************************************************* prices *************************************************/

.prices {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 25px 76px 40px 76px;
}

.prices>.prices-header {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 40px;
}

.prices .prices-items {
  padding: 29px 22px;
  align-self: stretch;
}

.prices .price-item {
  padding: 16px 15px 16px 30px;
  justify-content: space-between;
}

.prices .price-item>.price-item-name {
  font-size: 15px;
}

.prices .prices-call-us {
  align-items: center;
}

.prices .prices-call-us .prices-call-us-header {
  font-size: 20px;
  text-align: center;
  margin-top: 19px;
}

.prices .prices-call-us .prices-call-us-button {
  width: 121px;
  height: 35px;
  font-size: 15px;
  margin-top: 14px;
  margin-bottom: 0px;
}

.prices .prices-call-us .prices-call-us-image {
  display: none;
}
/************************************************* contacts *************************************************/

.contacts {
  padding: 25px 42px 0px 42px;
}

.contacts .contacts-header {
  font-size: 25px;
  line-height: 33px;
}

.contacts-container-wrapper {
  min-height: 263px;
  margin-bottom: 0px;
}
.contacts .contacts-container {
  margin-top: 80px;
  padding-right: 20px;
  background: #D6E7D2;
}

.contacts .contacts-woman {
  margin-left: 0px;
  width: 100px;
  height: 124.25px;
}
/************************************************* footer *************************************************/

footer {
  padding: 22px 85px;
  flex-direction: column;
  align-items: center;
}
.footer-rsschool {
  margin-left: 0px;
  margin-top: 3px;
  margin-bottom: 0px;
}

.social-links {
  width: 188px;
  justify-content: space-between;
}

.social-links img {
  width: 32px;
  height: 32px;
}