* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px auto;
}

/**************************************** common styles *********************************************/
header,
.welcome,
.service,
.contacts {
  background: #EDF2EC;
}
.contacts {
  min-height: 445px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

h2 {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  margin: 0px;
  color: #499A18;
}

a,
h3 {
  font-family: 'Inika', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #010201;
}

a {
  line-height: 50px;
  text-decoration: none;
}

a:hover {
  color: #E06733;
  transition: 0.5s;
}

h3 {
  line-height: 21px;
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin: 0px;
  color: #636060;
}

.button {
  width: 161px;
  height: 50px;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  border: 1px solid #E06733;
  border-radius: 5px;
  color: #E06733;
  background: none;
}

@media screen and (max-width:768px) {
  h2 {
    font-size: 35px;
    line-height: 46px;
  }
}

@media screen and (max-width:380px) {
  h2 {
    font-size: 25px;
    line-height: 33px;
  }
}