/* * {
  box-sizing: border-box;
} */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
}

/**************************************** common styles *********************************************/
header,
.welcome,
.service,
.contacts {
  background: #EDF2EC;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

h2 {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  margin: 0px;
  color: #499A18;
}

a,
h3 {
  font-family: 'Inika', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #010201;
}

a {
  line-height: 50px;
  text-decoration: none;
}

a:hover {
  color: #E06733;
  transition: 0.5s;
}

h3 {
  line-height: 21px;
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin: 0px;
  color: #636060;
}

.button {
  width: 160px;
  height: 50px;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  border: 1px solid #E06733;
  border-radius: 5px;
  color: #E06733;
  background: none;
}

/*********************************************** header **********************************************/
.header-navbar {
  justify-content: space-between;
  align-items: center;
  padding: 42px 109px 42px 111px;
}

.navbar-items {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: space-between;
  column-gap: 47px;
}

.navbar-burger-item {
  display: none;
}

@media screen and (max-width: 650px) {
  .navbar-items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 1.7em;
    right: 3em;
  }

  .navbar-item {
    display: none;
  }

  .navbar-burger-item {
    display: block;
    width: 40px;
  }

  .navbar-link {
    width: 100%;
  }

  .navbar.burgerView .navbar-item {
    display: block;
    padding-top: 20px;
  }
}


/************************************************* welcome *************************************************/
.welcome {
  justify-content: space-between;
  padding: 62px 109px;
}

.welcome>.welcome-image {
  align-self: flex-start;
  max-width: 36.7%;
}

.welcome>.welcome-content {
  max-width: 549px;
  align-self: center;
}

.welcome .welcome-header {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  margin: 0px;
  color: #717171;
}

.welcome .welcome-header-highlight {
  color: #499A18;
}

.welcome .welcome-body {
  padding-top: 42px;
  padding-bottom: 48px;
  line-height: 35px;
}

.welcome .welcome-button {
  width: 158px;
  height: 44px;
  font-family: 'Inter';
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  border: 2px solid #E06733;
  border-radius: 10px;
}

.welcome .welcome-button:hover {
  color: #FFFFFF;
  background: #E06733;
  transition: 0.3s;
}

/************************************************* about *************************************************/
.about {
  justify-content: space-between;
  padding: 93px 109px 94px 109px;
}

.about .about-header {
  max-width: 76.5%;
}

.about .about-header-highlight {
  color: #E06733;
}

.about .about-body {
  line-height: 30px;
  padding-top: 40px;
}

.about .about-content {
  max-width: 50%;
  align-self: center;
}

.about .about-image {
  align-self: center;
  width: 38%;
}

/************************************************* service *************************************************/

.service {
  padding: 40px 109px 121px 109px;
}

.service .service-header-container {
  flex-wrap: wrap;
  margin-bottom: 80px;
  margin-top: -40px;
}

.service .service-header-container .service-header {
  flex-basis: 306px;
  margin-right: 142px;
  margin-top: 40px;
}

.service .service-buttons {
  flex-wrap: wrap;
  align-items: center;
  margin-top: 40px;
  width: 559px;
  justify-content: space-between;
}

.service .service-buttons>.service-button:active {
  color: #FFFFFF;
  background: #E06733;
  transition: 0.3s;
}

.service .service-cards-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(calc(100% / 4), 330px));
  column-gap: 20px;
  justify-content: space-between;
  row-gap: 55px;
}

.service .service-card>.service-card-image {
  width: 100%;
  height: 350px;
}

.service .service-card>.service-card-texts {
  min-height: 100px;
  border: 1px solid #E3E1D5;
  border-radius: 0px 0px 20px 20px;
  text-align: center;
}

.service .service-card-texts>p:nth-child(1) {
  font-weight: 700;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #E06733;
}

.service .service-card-texts>p:nth-child(2) {
  font-size: 16px;
  line-height: 20px;
  color: #717171;
}

/************************************************* prices *************************************************/
.prices {
  display: grid;
  grid-template-columns: minmax(224px, 332px) minmax(200px, 452px);
  grid-auto-flow: column;
  justify-content: space-between;
  padding: 40px 109px 115px 109px;
}

.prices>.prices-header {
  font-family: 'Inter';
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 47px;
  color: #000000;
}


.prices .prices-items {
  align-self: flex-start;
  /* includes price-item padding-bottom */
  padding: 34px 40px calc(34px - 32px) 40px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
}

.prices .price-item {
  padding: 15px 40px;
  background: #EDF2EC;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.prices .price-item>.price-item-name {
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}

.prices .price-item>.price-item-arrow {
  background: #D9D9D9;
  /* width = height = 16px */
  /* image width = 6px */
  /* image height = 4px */
  /* dividing by two is required because it's a padding and we only need to have half */
  padding: calc((16px - 4px) / 2) calc((16px - 6px) / 2);
  border-radius: calc(16px / 2);
}

.prices .prices-call-us {
  grid-row: 1 / 3;
  align-items: flex-end;
}

.prices .prices-call-us .prices-call-us-header {
  text-align: end;
  font-family: 'Inter';
  font-weight: 700;
  line-height: 50px;
  color: #000000;
}

.prices .prices-call-us .prices-call-us-button {
  width: 162px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 39px;
}

.prices .prices-call-us .prices-call-us-image {
  width: 152px;
  height: 174.98px;
}

.prices .prices-call-us-header>.prices-call-us-highlight {
  color: #499A18;
}




/************************************************* contacts *************************************************/

.contacts {
  padding: 53px 109px 0px 109px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contacts .contacts-header {
  font-weight: 700;
  margin-top: 7px;
  margin-left: 45px;
}

.contacts-woman {
  width: 32.7%;
}

.contacts-container-wrapper {
  width: 36.8%;
}

.contacts .contacts-container {
  height: 50px;
  justify-content: space-between;
  margin-top: 95px;
  padding-left: 20px;
  padding-right: 35px;
  background: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
}

.contacts .contacts-container>* {
  align-self: center;
}

.contacts .contacts-container p {
  letter-spacing: 0.05em;
}

.contacts-item-arrow {
  background: #AEA1A1;
  color: white;
  padding: calc((16px - 4px) / 2) calc((16px - 6px) / 2);
  border-radius: calc(16px / 2);
}

.contacts-container:active {
  transition: 0.3s;
  background: #C1E698;
  border: 1px solid #D6E7D2;
  box-shadow: none;
}

/* .city-container */
.city-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  width: 339px;
  height: 165px;
  padding: 17px 76px 32px 33px;
  background: #EDF2EC;
  border: 1px solid #000000;
  border-radius: 20px;
  display: none;
  /*****************/
}

.city-container p {
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #000000;
}

.city-container .grey {
  color: #717171;
}

.city-container button {
  grid-column-start: 2;
  width: 122px;
  height: 26px;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  color: #717171;
}

/************************************************* footer *************************************************/

footer {
  padding: 40px 109px;
  justify-content: space-between;
}

.footer-data {
  width: 169px;
  justify-content: space-between;
}

.footer-data>* {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
}

.footer-rsschool {
  font-family: 'Inter';
  font-size: 20px;
  margin-left: 15px;
}

.social-links {
  width: 188px;
  justify-content: space-between;
  /* align-items: center; */
}
.social-links a {
  align-items: center;
}
.social-links img {
  width: 32px;
  height: 32px;
}