.welcome {
  width: 100%;
}
.welcome-container {
  max-width: 1440px;
  justify-content: space-between;
  padding: 62px 109px 58px 109px;
  margin: 0 auto;
}
.welcome-image {
  align-self: flex-start;
  max-width: 36.73%;
}

.welcome-content {
  max-width: 549px;
  align-self: center;
}

.welcome-header {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  margin: 0px;
  color: #717171;
}

.welcome-header-highlight {
  color: #499A18;
}

.welcome-body {
  padding-top: 42px;
  padding-bottom: 48px;
  line-height: 35px;
}

.welcome-button {
  width: 158px;
  height: 44px;
  font-family: 'Inter';
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  border: 2px solid #E06733;
  border-radius: 10px;
}

.welcome-button:hover {
  color: #FFFFFF;
  background: #E06733;
  cursor:context-menu;
  transition: 0.3s;
}

@media screen and (max-width:768px) {
  .welcome-container {
    padding: 37px 50px 70px 50px;
  }

  .welcome-content {
    max-width: 52%;
  }

  .welcome-image {
    max-width: 44%;
    max-height: 254px;
    order: 1;
  }

  .welcome-header {
    font-size: 35px;
  }

  .welcome-body {
    padding-top: 30px;
    padding-bottom: 36px;
    padding-left: 5px;
    font-size: 16px;
    line-height: 25px;
  }

}

@media screen and (max-width:380px) {
  .welcome-container  {
    padding: 22px 25px 24px 25px;
  }

  .welcome-content {
    max-width: 100%;
  }

  .welcome-image {
    display: none;
  }

  .welcome-body {
    padding-top: 20px;
    padding-bottom: 26px;
    padding-left: 0px;
    font-size: 16px;
    line-height: 25px;
  }

  .welcome-header {
    font-size: 25px;
    line-height: 35px;
  }

  .welcome-button {
    width: 100px;
    height: 34.14px;
    font-size: 10px;
  }
}
/* adaptation for iphone */
@media screen and (max-width:430px) {
  .welcome-content {
    max-width: 100%;
  }

  .welcome-image {
    display: none;
  }
}